# Dependency Management
pip-tools

# Web Framework
fastapi
uvicorn[standard]

# Database
# sqlmodel  # Artık SQLAlchemy 2.0 kullanıyoruz
sqlalchemy[asyncio]
asyncpg
alembic

# Configuration
pydantic[email]
email-validator
pydantic-settings
python-dotenv
python-multipart

# Authentication
pyjwt
passlib[bcrypt]
bcrypt

# Cache & Session
redis

# Email (Gmail API)
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Image processing
Pillow>=10.4.0

# HTTP Client
aiohttp

# Background tasks
celery

# Dev/Testing
pytest
pytest-asyncio
httpx
aiosqlite
python-multipart
ruff
